Repository portone-io/developers.portone.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @disjukr, @XiNiHa, @sso-ashley

결제창 빌링키 발급 지원 pg 추가 (#295)
  src/content/docs/ko/auth/guide-1/bill/readme.mdx
Owners: @disjukr, @sso-ashley

KG이니시스 통합인증서비스 연동가이드 수정
  src/content/docs/ko/etc/all/3.mdx
Owners: @disjukr, @sso-ashley

KG이니시스 통합인증서비스 연동가이드 수정 (#293)
  src/content/docs/ko/etc/all/3.mdx
Owners: @disjukr, @sso-ashley

구 영문 문서 링크만 알면 들어갈 수는 있도록 함
  src/pages/docs/[lang]/[...slug].astro
Owners: @disjukr, @XiNiHa

구 영문 문서 링크만 알면 들어갈 수는 있도록 함 (#296)
  src/pages/docs/[lang]/[...slug].astro
Owners: @disjukr, @XiNiHa

스타일 변경 및 다날 에러 코드 추가
  src/components/gitbook/File.astro
  src/content/docs/ko/tip/_assets/error_code_doc/MC_CODE_0016_20200715.pdf
  src/content/docs/ko/tip/_assets/error_code_doc/danal_code.xls
  src/content/docs/ko/tip/_assets/error_code_doc/inicis-code.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/kakao-code-20180820.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/kg-phone-cancel-code.pdf
  src/content/docs/ko/tip/_assets/error_code_doc/nhnkcp-code.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/tosspayments-code.xlsx
  src/content/docs/ko/tip/pg-3.mdx
Owners: @disjukr, @XiNiHa, @sso-ashley

파일 경로 import해서 사용
  src/content/docs/ko/tip/pg-3.mdx
Owners: @disjukr, @sso-ashley

스타일 변경 및 다날 에러 코드 추가 (#298)
  src/components/gitbook/File.astro
  src/content/docs/ko/tip/_assets/error_code_doc/MC_CODE_0016_20200715.pdf
  src/content/docs/ko/tip/_assets/error_code_doc/danal_code.xls
  src/content/docs/ko/tip/_assets/error_code_doc/inicis-code.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/kakao-code-20180820.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/kg-phone-cancel-code.pdf
  src/content/docs/ko/tip/_assets/error_code_doc/nhnkcp-code.xlsx
  src/content/docs/ko/tip/_assets/error_code_doc/tosspayments-code.xlsx
  src/content/docs/ko/tip/pg-3.mdx
Owners: @disjukr, @XiNiHa, @sso-ashley

v2 public api service release: v1.7.0
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

v2 public api service release: v1.7.0 (#297)
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

api 문서 try 영역 필드 자동완성 기능 (#299)
  src/layouts/rest-api/editor/MonacoEditor.tsx
  src/layouts/rest-api/editor/RequestJsonEditor.tsx
  src/layouts/rest-api/editor/misc/install-monaco-worker.ts
  src/layouts/rest-api/endpoint/playground/Card.tsx
  src/layouts/rest-api/endpoint/playground/try/Req.tsx
Owners: @disjukr, @XiNiHa

API 문서 스키마 파일 업데이트 매뉴얼 추가 (#300)
  PORTONE_CREW.md
  README.md
Owners: @disjukr, @XiNiHa

feat: udpate b2b-preview
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

V2 B2b Schema Update (#301)
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

fix: change DateTime description from ISO 8601 to RFC 3339
  src/layouts/rest-api/category/type-def.tsx
Owners: @disjukr, @XiNiHa

date-time 설명을 ISO 8601에서 RFC 3339로 교체 (#303)
  src/layouts/rest-api/category/type-def.tsx
Owners: @disjukr, @XiNiHa

feat: 페이팔 digital 파라미터 유의사항 추가
  public/gitbook-assets/ko/spb-digital.png
  public/gitbook-assets/ko/spb-real.png
  src/content/docs/ko/pg/payment-gateway/spb/warning.mdx
Owners: @disjukr, @XiNiHa, @sso-ashley

apply review
  src/content/docs/ko/pg/payment-gateway/_assets/paypal/spb-digital.png
  src/content/docs/ko/pg/payment-gateway/_assets/paypal/spb-real.png
  src/content/docs/ko/pg/payment-gateway/spb/warning.mdx
Owners: @disjukr, @sso-ashley

페이팔 digital 파라미터 유의사항 추가 (#305)
  src/content/docs/ko/pg/payment-gateway/_assets/paypal/spb-digital.png
  src/content/docs/ko/pg/payment-gateway/_assets/paypal/spb-real.png
  src/content/docs/ko/pg/payment-gateway/spb/warning.mdx
Owners: @disjukr, @sso-ashley

Update nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

나이스페이먼츠 설정 상대경로 주소 수정 (#306)
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

chore: 수기(키인) in title
  src/content/docs/ko/v2-payment/key-in.mdx
Owners: @disjukr, @sso-ashley

feat: rewrite v2 authpay, key-in
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/v2-payment/authpay.mdx
  src/content/docs/ko/v2-payment/authpay/1.mdx
  src/content/docs/ko/v2-payment/authpay/2.mdx
  src/content/docs/ko/v2-payment/authpay/3.mdx
  src/content/docs/ko/v2-payment/authpay/4/iframe.mdx
  src/content/docs/ko/v2-payment/authpay/4/readme.mdx
  src/content/docs/ko/v2-payment/authpay/4/redirect.mdx
  src/content/docs/ko/v2-payment/readme.mdx
  src/content/docs/ko/v2-payment/unauthpay/key-in.mdx
  src/content/docs/ko/v2-payment/unauthpay/readme.mdx
  src/content/docs/ko/v2-payment/webhook.mdx
Owners: @disjukr, @sso-ashley

chore: apply review
  src/content/docs/ko/v2-payment/identity-verification.mdx
Owners: @disjukr, @sso-ashley

feat: billing-key & identity-verification layout
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/v2-payment/authpay.mdx
  src/content/docs/ko/v2-payment/billing-key/1.mdx
  src/content/docs/ko/v2-payment/billing-key/2.mdx
  src/content/docs/ko/v2-payment/billing-key/3.mdx
  src/content/docs/ko/v2-payment/billing-key/readme.mdx
  src/content/docs/ko/v2-payment/identity-verification.mdx
  src/content/docs/ko/v2-payment/identity-verification/1.mdx
  src/content/docs/ko/v2-payment/identity-verification/2.mdx
  src/content/docs/ko/v2-payment/identity-verification/3/popup.mdx
  src/content/docs/ko/v2-payment/identity-verification/3/readme.mdx
  src/content/docs/ko/v2-payment/identity-verification/3/redirect.mdx
  src/content/docs/ko/v2-payment/identity-verification/4.mdx
  src/content/docs/ko/v2-payment/identity-verification/readme.mdx
  src/content/docs/ko/v2-payment/key-in.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/1/api.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/1/checkout.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/1/readme.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/2.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/3.mdx
  src/content/docs/ko/v2-payment/unauthpay/billing-key/readme.mdx
  src/content/docs/ko/v2-payment/unauthpay/readme.mdx
  src/content/docs/ko/v2-payment/webhook.mdx
Owners: @disjukr, @sso-ashley

fix: mistake on webhook status
  src/content/docs/ko/v2-payment/webhook.mdx
Owners: @disjukr, @sso-ashley

docs: x-portone-summary를 x-portone-description 으로 일괄 치환
  src/schema/v1.openapi.json
Owners: @disjukr, @XiNiHa

docs: x-portone-summary를 x-portone-description 으로 일괄 치환 (#288)
  src/schema/v1.openapi.json
Owners: @disjukr, @XiNiHa

마케팅팀 수정요청사항 반영
  src/content/release-notes/api-sdk/2024-01-25.mdx
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

Update 2024-01-25.mdx
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

240124 릴리즈노트
  src/content/release-notes/api-sdk/2024-01-25.mdx
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

내용 추가
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

Update 2024-01-25.mdx
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

bold 수정
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

240124 릴리즈노트 (#307)
  src/content/release-notes/api-sdk/2024-01-25.mdx
  src/content/release-notes/console/2024-01-25.mdx
Owners: @disjukr, @sso-ashley

240130 릴리즈노트
  src/content/release-notes/api-sdk/2024-01-30.mdx
Owners: @disjukr, @sso-ashley

.github/CODEOWNERS:

* @disjukr @XiNiHa
/src/content/blog/ @disjukr @XiNiHa
/src/content/docs/ @disjukr @sso-ashley
/src/content/release-notes/ @disjukr @sso-ashley
