Repository portone-io/developers.portone.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @disjukr, @XiNiHa, @sso-ashley

결제 요청하기 페이지에서 codepen 예제 제거 (#266)
  src/content/docs/ko/auth/guide/3.mdx
Owners: @disjukr, @sso-ashley

feat: add alipay, alipay caution document
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/pg/payment-gateway/nice-v2/alipay-caution.mdx
  src/content/docs/ko/pg/payment-gateway/nice-v2/alipay.mdx
Owners: @disjukr, @sso-ashley

api 문서에서 필드 설명 보여주는 로직 수정 (#281)
  src/layouts/rest-api/category/type-def.tsx
Owners: @disjukr, @XiNiHa

알리페이 주문번호 유의사항 추가
  src/content/docs/ko/pg/payment-gateway/nice-v2/alipay-caution.mdx
Owners: @disjukr, @sso-ashley

Update src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
Owners: @disjukr, @sso-ashley

Update src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
Owners: @disjukr, @sso-ashley

Update src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
Owners: @disjukr, @sso-ashley

나이스 for v2 릴리즈노트
  src/content/release-notes/api-sdk/2024-01-08.mdx
Owners: @disjukr, @sso-ashley

docs: (신)나이스페이먼츠 V2 Core용 연동 문서 작성 (#211)
  pnpm-lock.yaml
  src/content/docs/_redir.yaml
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/api-v2/payment.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/_assets/nice-v1/nice-v2-channel-guide-1.png
  src/content/docs/ko/ready/2-pg/payment-gateway/_assets/nice-v1/nice-v2-channel-guide-2.png
  src/content/docs/ko/ready/2-pg/payment-gateway/_assets/nice-v1/nice-v2-channel-guide-3.png
  src/content/docs/ko/ready/2-pg/payment-gateway/_assets/nice-v1/nice-v2-channel-guide-4.png
  src/content/docs/ko/ready/2-pg/payment-gateway/nice-v2.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/nice.mdx
  src/content/docs/ko/ready/2-pg/payment-gateway/tosspayments.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/readme.mdx
  src/content/docs/ko/v2-payment/v2-sdk/payment-request.mdx
  src/content/docs/ko/v2-payment/v2.mdx
Owners: @disjukr, @XiNiHa, @sso-ashley

Release/240108 릴리즈노트 - 나이스 for v2 core (#279)
  src/content/release-notes/api-sdk/2024-01-08.mdx
Owners: @disjukr, @sso-ashley

스키마 다운로드 스크립트 정비 (#283)
  scripts/download-schema.ts
  scripts/render-v1.ts
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

skpay -> 11pay
  src/content/docs/ko/pg/payment-gateway/nice-v2/payment-caution.mdx
  src/content/docs/ko/pg/payment-gateway/nice-v2/readme.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrt.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/readme.mdx
  src/content/release-notes/api-sdk/2023-07-10.mdx
Owners: @disjukr, @sso-ashley

Update nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

Update nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

skpay -> 11pay (#285)
  src/content/docs/ko/pg/payment-gateway/nice-v2/payment-caution.mdx
  src/content/docs/ko/pg/payment-gateway/nice-v2/readme.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrt.mdx
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
  src/content/docs/ko/v2-payment/pg/readme.mdx
  src/content/release-notes/api-sdk/2023-07-10.mdx
Owners: @disjukr, @sso-ashley

api 문서에서 format 필드가 있는 속성 문서를 좀 더 친절하게 보여줌 (#286)
  src/layouts/rest-api/category/type-def.tsx
  src/layouts/rest-api/schema-utils/type-def.ts
Owners: @disjukr, @XiNiHa

union type의 discriminator select ui를 필드 설명으로 밀어넣음 (#289)
  src/layouts/rest-api/category/type-def.tsx
Owners: @disjukr, @XiNiHa

docs: (신)토스페이 채널 연동 문서 추가
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-1.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-2.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-3.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-4.png
  src/content/docs/ko/ready/2-pg/pg/tosspay-v2.mdx
Owners: @disjukr, @sso-ashley

revise: tosspay_v2 인증 결제
  src/content/docs/ko/pg/simple/tosspay-v2/caution.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
Owners: @disjukr, @sso-ashley

docs: (신) 토스페이 빌링키 관련 내용 작성
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/pg/simple/tosspay-v2/caution.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
Owners: @disjukr, @sso-ashley

fix: address review
  src/content/docs/ko/pg/simple/tosspay-v2/caution.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
  src/content/docs/ko/ready/2-pg/pg/tosspay-v2.mdx
Owners: @disjukr, @sso-ashley

일부 수정
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/pg/simple/toss.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
Owners: @disjukr, @sso-ashley

docs: (신) 토스페이 빌링키 결제 안내 및 bypass 파라미터 설명 추가
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
Owners: @disjukr, @sso-ashley

revise: payrq.pay_method add tosspay_card,tosspay_bank
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
Owners: @disjukr, @sso-ashley

docs: (신) 토스페이 부분 취소 요청 시 부가세 지정 유의사항 추가
  src/content/docs/ko/pg/simple/tosspay-v2/caution.mdx
Owners: @disjukr, @sso-ashley

(신) 토스페이 연동문서 (#232)
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/pg/simple/toss.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/caution.mdx
  src/content/docs/ko/pg/simple/tosspay-v2/readme.mdx
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-1.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-2.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-3.png
  src/content/docs/ko/ready/2-pg/pg/_assets/tosspay-v2/tosspay-v2-channel-guide-4.png
  src/content/docs/ko/ready/2-pg/pg/tosspay-v2.mdx
  src/content/docs/ko/sdk/javascript-sdk/payrq.mdx
Owners: @disjukr, @sso-ashley

릴리즈노트-신토스페이
  src/content/release-notes/api-sdk/2024-01-11.mdx
Owners: @disjukr, @sso-ashley

릴리즈노트-신토스페이 (#287)
  src/content/release-notes/api-sdk/2024-01-11.mdx
Owners: @disjukr, @sso-ashley

에스크로 필수 파라미터 유의사항 추가
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

나이스 v2 에스크로 필수 파라미터 유의사항 추가 (#290)
  src/content/docs/ko/v2-payment/pg/nice-v2.mdx
Owners: @disjukr, @sso-ashley

fix guide about v2 api key
  src/content/docs/ko/ready/3.mdx
  src/content/docs/ko/ready/_assets/console_store_id.png
  src/content/docs/ko/ready/readme.mdx
Owners: @disjukr, @sso-ashley

split v1 & v2 docs
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/ready/3-v1.mdx
  src/content/docs/ko/ready/3-v2.mdx
  src/content/docs/ko/ready/readme-v1.mdx
  src/content/docs/ko/ready/readme-v2.mdx
Owners: @disjukr, @sso-ashley

configure redirection
  src/content/docs/_redir.yaml
Owners: @disjukr, @sso-ashley

remove useless systemVersion
  src/content/docs/ko/_nav.yaml
Owners: @disjukr, @sso-ashley

V2 API KEY 관련 가이드 수정 (#284)
  src/content/docs/_redir.yaml
  src/content/docs/ko/_nav.yaml
  src/content/docs/ko/ready/3-v1.mdx
  src/content/docs/ko/ready/3-v2.mdx
  src/content/docs/ko/ready/_assets/console_store_id.png
  src/content/docs/ko/ready/readme-v1.mdx
  src/content/docs/ko/ready/readme-v2.mdx
Owners: @disjukr, @sso-ashley

feat: add v2 identity verification api title
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

V2 본인인증 API Title 추가 (#292)
  src/schema/v2.openapi.json
Owners: @disjukr, @XiNiHa

nested field의 여러 추가 케이스 처리
  src/layouts/rest-api/category/type-def.tsx
  src/layouts/rest-api/endpoint/EndpointDoc.tsx
  src/layouts/rest-api/schema-utils/type-def.ts
Owners: @disjukr, @XiNiHa

api 문서의 request, response에 대해서 nested 속성들을 한 단계 보여주도록 함 (#291)
  src/layouts/rest-api/DescriptionArea.tsx
  src/layouts/rest-api/category/type-def.tsx
  src/layouts/rest-api/endpoint/EndpointDoc.tsx
  src/layouts/rest-api/schema-utils/type-def.ts
Owners: @disjukr, @XiNiHa

지원 pg 추가
  src/content/docs/ko/auth/guide-1/bill/readme.mdx
Owners: @disjukr, @sso-ashley

.github/CODEOWNERS:

* @disjukr @XiNiHa
/src/content/blog/ @disjukr @XiNiHa
/src/content/docs/ @disjukr @sso-ashley
/src/content/release-notes/ @disjukr @sso-ashley
